@import '_layout';
@import '_header';
@import '_menu';
@import '_sub-menu';
@import '_sidebar';

body {
    background:url(/images/bg2.jpg);
    background-repeat: no-repeat;
    background-attachment:fixed; //不重复
    background-size: cover;      //填充
    background-position:50% 50%;
}

.main{
  opacity: 0.85;
  // margin-top: 12px;
  // .main-inner{
  //   border-radius: 12px;
  // }
  // .header{
  //   border-radius: 12px;
  //   overflow: hidden;
  // }
  // .sidebar-inner{
  //   border-radius: 12px;
  // }
}

.main-inner {
  background: var(--content-bg-color);
  box-shadow: $box-shadow-inner;
  padding: $content-desktop-padding;

  +tablet-mobile() {
    padding: 20px;
  }
}

// Sub-menu(s).
.sub-menu {
  border-bottom: 1px solid $table-border-color;
}

.post-block:first-of-type {
  padding-top: 40px;
}

.pagination {
  +mobile() {
    margin-bottom: 10px;
  }
}

